.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #b1c102;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-congratulation {
  font-size: 34px;
  font-family: Kanit;
  font-weight: 700;
}
